In [2]:
import pandas as pd
df = pd.read_csv("WHO.csv") # Alerta con la carga de datos

## Ejercicios

**1) ¿Cuál és la media de la población urbana ("Urban_population") de todos los países? ¿Su desviación típica (std)?**

In [6]:
print(f'Valor medio de Urban_population = {df.Urban_population.mean()}')

Valor medio de Urban_population = 16657626.767446807

**2) Consulta la fila del país: “Spain”**

In [41]:
df.loc[df.Country == "Spain",]

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
168,Spain,169,2,10.0,97.2,28200.0,99.0,100.0,43887.0,1.1,...,343701.53,6.780000e+11,NaN,-5.770000e+10,4.9,4.2,4.9,33300000.0,1.75,76.7

**3a) ¿Qué país tiene una mayor población urbana?**

**3b) ¿Qué paises tienen una población urbana menor a 50000 ?**

In [30]:
maximo_pu = max(df.Urban_population)

pais_max = df.loc[df.Urban_population == maximo_pu, ["Country"]]
print(f'El pais con mas población urbana es: {pais_max.Country}')


paises_menores_5 = df.loc[df.Urban_population < 50000, ["Country"]]
paises_menores_5

El pais con mas población urbana es: 36    China
Name: Country, dtype: object

                   Country
5      Antigua and Barbuda
69                 Grenada
91                Kiribati
151  Saint Kitts and Nevis
152            Saint Lucia
154                  Samoa
160             Seychelles
182                  Tonga

**4) ¿El continente donde está situado Spain es el mismo que el de United States of America?**

Utiliza una condición para obtener un resultado Booleano (*True* o *False*).

In [ ]:
df[df.Country == "Spain"].Continent.values[0] == df[df.Country == "United States of America"].Continent.values[0]

**5) ¿Cuáles son los cinco paises más contaminantes ("Total_CO2_emissions")?**

Esta es mi pista para una solución elegante: http://pandas.pydata.org/pandas-docs/version/0.19.2/generated/pandas.DataFrame.sort_values.html

In [ ]:
contaminantes = df[["Country","Total_CO2_emissions"]].sort_values(by="Total_CO2_emissions", ascending=False)
contaminantes.iloc[0:5]

**6) Observando algunas muestras del fichero puedes establecer la relación entre el identificador del continente y su nombre?**

Es decir, sabemos que Spain está en el continente Europeo y el código del continente es el 2.

Existen los códigos de continentes: 1, 2, 3, 4, 5, 6, 7

**Nota:** Hay dos códigos asociados a Asia.

Haz las consultas pertinentes al dataframe para construir un diccionario con la siguiente estructura:

In [ ]:
codigoContinentes = {1:"Asia",2:"Europa"} #Al menos hay 7!
#print(codigoContinentes[2])
df[df.Country == "Nigeria"].Continent
df[df.Country == "Australiaa"].Continent

In [ ]:
codigoContinentes[3] = "Africa"
codigoContinentes[4] = "America"
codigoContinentes[5] = "Antartic"
codigoContinentes[6] = "Oceania"
codigoContinentes[7] = "Asia"

**7) Una vez identificado el nombre de los continentes, ¿puedes cambiar la columna de identificadores de continentes por sus respectivos nombres?**

Esta es es mi pista para una solución elegante: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.map.html

In [ ]:
df.Continent = df.Continent.map(codigoContinentes)

In [ ]:
df.Continent

**8) Puedes crear un nuevo dataframe con aquellos paises que sean de Europa?**

In [ ]:
df2 = df.loc[df.Continent == 2] #Con una simple asignación ya creas una dataframe
type(df2)

In [62]:
df.Continent

0         Asia
1       Europa
2       Africa
3       Europa
4       Africa
        ...
197    Oceania
198       Asia
199       Asia
200     Africa
201     Africa
Name: Continent, Length: 202, dtype: object

**8) Puedes crear un nuevo dataframe con aquellos paises que sean de Europa?**

In [52]:
df2 = df.loc[df.Continent == 2] #Con una simple asignación ya creas una dataframe
type(df2)

pandas.core.frame.DataFrame

**9) ¿Cuáles son los paises más contaminantes de Europa?**

Propuesta A: usa el dataframe inicial

Propuesta B: usa el dataframe de la actividad 8